Package: enigma2-plugin-skins-simple-glass
Version:
Description: A transparent and lightweight Enigma2 skin based on SimpleGray by Taapat
Section: base
Priority: optional
Maintainer: roberi
License: GPLv3
Architecture: all
OE: enigma2-plugin-skins-simple-glass
